<!DOCTYPE html>
<html>
  <head>
    <title>new message</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Create a new message</h1>
    <form method="POST" action="/new">
      <!-- put your inputs and buttons in here! -->
      <label for="messageUser">Author:</label>
      <input type="text" name="messageUser" id="messageUser" />
      <label for="messageText">Message:</label>
      <textarea name="messageText" id="messageText"></textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
