body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: #fff;
}

body {
  background-color: #000;
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
}

.new_msg_btn,
.submit_btn {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  background: #00b7ff;
  padding: 12px;
  border: none;
  border-radius: 5px;
}

.msg_board {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.msg_container {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 20px 40px;
  background-color: #333;
  color: #fff;
}

.msg_text {
  font-size: 20px;
}

.msg_user {
  font-size: 16px;
}

.msg_date {
  font-size: 12px;
  align-self: flex-end;
}

.new_msg_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  font-size: 16px;
}

input,
textarea {
  margin-bottom: 20px;
  color: #fff;
  background-color: #333;
}

.user_input,
.msg_input {
  font-size: 24px;
  border: none;
  padding: 12px;
}

.msg_input {
  width: 100%;
}
